{% extends "app/layout.html" %}

{% block content %}
<div class="container">
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
{% if user.is_authenticated == True %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createEventModal" data-bs-whatever="@mdo">Open modal for @mdo</button>

<div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form }}
        
              <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Peruuta</button>
        <button type="submit" class="btn btn-success">Luo tapahtuma</button>
      </div>
    </form>
      </div>

    </div>
  </div>
</div>

    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Luo tapahtuma</button>
    </form>
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
  Tapahtumiin luominen vaatii kirjautumisen.
</div>
{% endif %}

{% endblock %}
