{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<!-- <h3>{{ message }}</h3> -->

{% if user.is_authenticated %}

{% else %}
<div class="alert alert-info" role="alert">
  Tapahtumiin ilmoittautuminen vaatii kirjautumisen.
</div>
{% endif %}


<ul class="list-group">
    {% for event in events %}
    <li class="list-group-item">
        <h2>{{ event.name }}</h2>
          <div>
              <span class="badge badge-secondary">{{ event.type }}</span>
            {{ event.date }}
          </div>
        <p>
            {{ event.description|linebreaksbr }}
        </p>
        {% if user.is_authenticated %}
            {% for member in event.members.all %}
                <p>{{ member }}</p>
            {% endfor %}
        {% endif %}
        <div class="btn-group" role="group" aria-label="Osallistu">
        {% if user.is_authenticated %}
            {% if event.members.all|length < event.max  %}
                <button type="button" class="btn btn-success btn-sm">Osallistu</button>
            {% endif %}
            <button type="button" class="btn btn-danger btn-sm">Peruuta</button>
            
         
        {% endif %}
          <button type="button" class="btn btn-secondary btn-sm">{{ event.members.all|length }}/<em>{{ event.max }}</em></button>
            </div>



      

</li>
    {% endfor %}
    {% endblock %}
</ul>



