{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<!-- <h3>{{ message }}</h3> -->

{% if user.is_authenticated %}

{% else %}
<div class="alert alert-info" role="alert">
  Tapahtumiin ilmoittautuminen vaatii kirjautumisen.
</div>
{% endif %}



<div class="row">
    {% for event in events %}
    <a name="{{ event.id }}"></a>
    <div class="col-md-3" >
        <h2>{{ event.name }}</h2>
        
          <div>
              <span class="badge badge-secondary">{{ event.type }}</span>
            {{ event.date }}
          </div>

        <div>
            <p></p>
            {{ event.description|linebreaksbr }}
        </div>
        

        {% if user.is_authenticated %}
        <hr />
        <div>
            {% for member in event.members.all %}
                    
                    <span class="badge badge-light">{{ member }}</span>
                    
            {% endfor %}
                        </div>
        {% endif %}

        {% if user.is_authenticated %}
         <!--<form id="joinForm" action="/eventaction/" method="post">-->
        <p>
        <div class="btn-group" role="group" aria-label="Osallistu">
            {% if event.members.all|length < event.max %}

            <a class="btn btn-success" href="{% url 'joinevent' event.id  %}" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-thumbs-up"> </span> Osallistu</a>
            {% endif %}
            {% for join in eventsjoined.all %}
                    {% if join.event == event %}
                             <a class="btn btn-danger" href="{% url 'cancelevent' event.id  %}" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-thumbs-down"> </span> Peruuta</a>
                    {% endif %}
            {% endfor %}
           
            <button class="btn btn-secondary">{{ event.members.all|length }}/<em>{{ event.max }}</em></button>

            

        </div>
        </p>
        <!--</form>-->
        {% endif %}
    

    </div>
    {% endfor %}



</div>




<h3>Menneet tapahtumat</h3>
<ul class="list-group">
    {% for event in pastevents %}
    <a name="{{ event.id }}"></a>
    <li class="list-group-item">
        <h2>{{ event.name }}</h2>
          <div>
              <span class="badge badge-secondary">{{ event.type }}</span>
            {{ event.date }}
          </div>
        <div>
            <p></p>
            {{ event.description|linebreaksbr }}
        </div>
        

        {% if user.is_authenticated %}
            {% for member in event.members.all %}
                    <div>
                    <span class="badge badge-light">{{ member }}</span>
                    </div>
            {% endfor %}
        {% endif %}
        
    </li>
    {% endfor %}

</ul>
{% endblock %}


