{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Tapahtumailmo 1.0</h1>
    <p class="lead">Tapahtumailmo on ohjelma, jolla seuran jäsenet voivat ilmoittautua tapahtumiin.</p>
    <!--<p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>--->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Luo k&auml;ytt&auml;j&auml;tunnus</h2>
        <p>
Luo k&auml;ytt&auml;j&auml;tunnus ja kirjaudu j&auml;rjestelm&auml;&auml;n.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Luo tunnus heti</a></p>
    </div>
    <div class="col-md-4">
        <h2>Valitse tai luo tapahtumia</h2>
        <p>Voit katsella ja luoda tapahtumia.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Luo tapahtuma</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ilmoittaudu tapahtumaa</h2>
        <p>Ilmoittaudu tapahtumaan.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Ilmoittaudu tapahtumaan</a></p>
    </div>
</div>

{% endblock %}
