{% extends "app/layout.html" %}

{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Tervetuloa tapahtumien ihmeelliseen maailmaan</h1>
          <p>Tapahtumiin osallistuminen ja niiden luominen ei ole koskaan ollut niin helppoa, kuin se nyt on.</p>
          <p><a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Liity! &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Liity!</h2>
            <p>Liity nyt!</p>
            <p><a class="btn btn-secondary" href="{% url 'register' %}" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Luo!</h2>
            <p>Luo tapahtumia.</p>
            <p><a class="btn btn-secondary" href="{% url 'addevent' %}" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Osallistu!</h2>
            <p>Osallistu muiden tapahtumiin.</p>
            <p><a class="btn btn-secondary" href="{% url 'events' %}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <hr>

      </div> <!-- /container -->

{% endblock %}
