{% extends "app/layout.html" %}

{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Ookkotulossa vai et!?!</h1>
          <p>T&auml;m&auml; i&auml;nikuinen ongelma, joka on riesana kaikissa seuroissa, kaveriporukoissa, taloyhti&ouml;iss&auml; ja jopa kippokutsuilla.</p>
          <p><a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Liity! &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <!--<div class="row">
          <div class="col-md-4">
            <h2>Liity!</h2>
            <p>Liity nyt!</p>
            <p><a class="btn btn-secondary" href="{% url 'register' %}" role="button">Liity &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Luo!</h2>
            <p>Luo tapahtumia.</p>
            <p><a class="btn btn-secondary" href="{% url 'addevent' %}" role="button">Luo &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Osallistu!</h2>
            <p>Osallistu muiden tapahtumiin.</p>
            <p><a class="btn btn-secondary" href="{% url 'events' %}" role="button">Osallistu &raquo;</a></p>
          </div>
        </div>
        <hr>-->
          <div class="row">
                    <div class="col-md-4">
                    <div class="card text-white bg-success overflow-hidden">
                        <div class="card-body bg-success">
                            <div class="rotate">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <h6 class="text-uppercase">K&auml;ytt&auml;ji&auml;</h6>
                            <h1 class="display-1">{{ users.all|length }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white bg-danger overflow-hidden">
                        <div class="card-body bg-danger">
                            <div class="rotate">
                                <i class="fa fa-list fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Tapahtumia</h6>
                            <h1 class="display-1">{{ events_joinable.all|length }} / {{ events.all|length }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white card-info overflow-hidden">
                        <div class="card-body bg-info">
                            <div class="rotate">
                                <i class="fa fa-twitter fa-5x"></i>
                            </div>
                            <h6 class="text-uppercase">Osallistumisia</h6>
                            <h1 class="display-1">{{ joins|length }}</h1>
                        </div>
                    </div>
                </div>
            </div>
    

      </div> <!-- /container -->
<br />

  <div class="container">
      <h3>Kehitysuutiset</h3>
      <div class="list-group">
            <span class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Palvelu uudelleennimetty!</h5>
              <small>HOT!</small>
            </div>
            <p class="mb-1">Palvelu asettui viimein oman nimens&Auml; taakse ja se on OOKKOTULOS!</p>
            <small>Juha</small>
          </span>
          <span class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Porukoiden luominen ja kutsulinkit</h5>
              <small>HOT!</small>
            </div>
            <p class="mb-1">Nyt on mahdollista luoda porukoita eri tarpeisiin ja jokaiselle porukalle tapahtumia. Kutsukoodi voidaan antaa uusille tyypeille. Jokaisen porukan omat tapahtumat ovat vain n&auml;kyviss&auml;.<br />
              Kutsulinkit ovat asetusvalikossa. <a href="{% url 'user' %}" >Asetukset</a></p>
            <small>Juha</small>
          </span>
    </div>
      </div>
{% endblock %}
