<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{{ title }} - Liity - Luo - Osallistu</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-grid.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-utilities.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/icons/bootstrap-icons.css' %}"/>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
  <body>
  
    {% if user.is_authenticated %}
  <div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

    <form method="POST"  action={% url 'addevent' %} class="form-group">
        {% csrf_token %}
        {{ forms.addeventform }}
        
              <div class="modal-footer">
              <input type="hidden" name="next" value="{{ request.path }}">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Peruuta</button>
        <button type="submit" class="btn btn-success">Luo tapahtuma</button>
      </div>
    </form>
      </div>

    </div>
  </div>
</div>

  <div class="modal fade" id="joinGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Liity porukkaan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

    <form method="POST"  action={% url 'joingroup' %} class="form-group">
        {% csrf_token %}
        {{ forms.joingroupform }}
        
              <div class="modal-footer">
               <input type="hidden" name="next" value="{{ request.path }}">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Peruuta</button>
        <button type="submit" class="btn btn-success">Liity porukkaan</button>
      </div>
    </form>
      </div>

    </div>
  </div>
</div>

  <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Luo porukka</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

    <form method="POST"  action={% url 'creategroup' %} class="form-group">
        {% csrf_token %}
        {{ forms.newroupform }}
        
              <div class="modal-footer">
               <input type="hidden" name="next" value="{{ request.path }}">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Peruuta</button>
        <button type="submit" class="btn btn-success">Luo porukka</button>
      </div>
    </form>
      </div>

    </div>
  </div>
</div>
{% endif %}


<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><i class="bi bi-terminal-fill"> <strong>Tapahtumailmo 1.0</strong></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <!--<li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}"><i class="bi bi-house-door"> Etusivu</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}"><i class="bi bi-stack"> Tapahtumat</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}"><i class="bi bi-info-circle"> Info</i></a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events' %}"><i class="bi bi-info-circle"> Tapahtumat</i></a>
        </li>
                            {% if user.is_authenticated == False %}
                    <li><a class="nav-link" href="{% url 'register' %}">Liity!</a></li>
                    {% endif %}
          {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Toiminnot</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li data-bs-toggle="modal" data-bs-target="#createEventModal" data-bs-whatever="@mdo"><a class="dropdown-item" href="#">Uusi tapahtuma</a></li>
                    <li data-bs-toggle="modal" data-bs-target="#createGroupModal" data-bs-whatever="@mdo"><a class="dropdown-item" href="#">Uusi porukka</a></li>
                    <li data-bs-toggle="modal" data-bs-target="#joinGroupModal" data-bs-whatever="@mdo"><a class="dropdown-item" href="#">Liity porukkaan</a></li>

                    {% if user.is_authenticated == False %}
                    <li><a class="dropdown-item" href="{% url 'register' %}">Liity!</a></li>
                    {% endif %}

          </ul>
        </li>
          {% endif %}
      </ul>
        {% include 'app/loginpartial.html' %}
    </div>
  </div>
</nav>
      



    <main role="main">
        <div class="container-fluid min-vh-100 py-3">
{% block content %}{% endblock %}
            </div>
                <footer align="center">
            <p>&copy; Tapilmo</p>
        </footer>
    </main>

    <script src="{% static 'app/scripts/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>

    <script src="{% static 'app/scripts/popper.min.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>

{% block scripts %}{% endblock %}

</body>
</html>
